@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
html {
    font-size: 10px;
    font-family: "Roboto";
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: rgb(198, 255, 198);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    font-family: "Pacifico";
}

.header .addBookBtn {
    font-family: "Pacifico";
    font-size: larger;
    background-color: rgb(254, 255, 194);
    border-radius: 1rem;
}

/*  */

/* Content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .books {
    height: 95%;
    width: 90%;
    border: 2px solid lightslategrey;
    background-color: rgb(223, 250, 255);
    align-content: flex-start;

    border-radius: 1rem;

    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    overflow: auto;
}

/* Book */

.book {
    background-color: burlywood;
    width: 200px;
    height: min-content;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}

.book-delete {
    font-size: 1rem;

    position: absolute;
    top: 1rem;
    right: 1rem;

    background-color: rgba(240, 240, 240, 0.674);
    border: none;
    border-radius: 1rem;
}

.book-delete:hover {
    background-color: rgb(183, 183, 183);
}

.book-delete:active {
    background-color: rgb(128, 128, 128);
}

.book.read-checked {
    border-left: 4px solid green;
}

.book.read-unchecked {
    border-left: 4px solid yellow;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer p {
    text-align: center;
}

.footer .gh-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    content: "";
    background-image: url(https://github.com/johntony366.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

/* Add Book modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(198, 255, 198);
    z-index: 1;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: "Itim";
    font-size: larger;

    width: 300px;
}

.modal h3 {
    font-family: "Pacifico";
}

.modal ul {
    list-style-type: none;
    display: grid;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
}

.modal li {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.modal input {
    border-radius: 1rem;
    padding: 0 1rem;
}

.modal .read {
    justify-self: center;
    gap: 1rem;
}

.modal .submit {
    justify-self: center;
}

.modal button {
    font-family: "Pacifico";
    font-size: large;
    background-color: rgb(254, 255, 194);
    border-radius: 1rem;
}

.modal button:hover {
    background-color: rgb(253, 255, 131);
}

.modal button:active {
    background-color: rgb(251, 255, 0);
}

.modal.active {
    display: block;
    transform: translate(-50%, -50%);
}
